<form >
    <h1>Criando Livro</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="titulo" placeholder="nome do livro" [(ngModel)]="livro.titulo" >
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Autor</mat-label>
        <input matInput type="text" name="nomeAutor" placeholder="nomeAutor" [(ngModel)]="livro.nomeAutor">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <input matInput type="text" name="texto" placeholder="texto" [(ngModel)]="livro.texto">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select User</mat-label>
        <mat-select [(value)]="livro.categoria" [(value)]="categorias">
    
          <mat-option *ngFor="let cat of categorias" [value]="cat.id">
            {{cat.nome}}
          </mat-option>
    
        </mat-select>
    
    </mat-form-field>
    
    <div class="buttons">
        <!-- <button mat-stroked-button color="primary" class="mat-elevation-z8"  (click)="salvar()"   >Salvar</button> -->
        
    </div>
</form>

