<div class="content">
  <div class="title">
    <h1>Categorias</h1>
  </div>
  <button mat-stroked-button color="primary" class="mat-elevation-z8" (click)="navegarCategoriaCreate()">Nova Categoria</button>

  <div class="table">
    <table mat-table [dataSource]="categorias" class="mat-elevation-z8 ">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
      </ng-container>
      <ng-container matColumnDef="livros">
        <th mat-header-cell *matHeaderCellDef> Livro </th>
        
        <td mat-cell *matCellDef="let row">
          <a routerLink="">
            <i class="material-icons ">
             book
            </i>
          </a>
        </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ação </th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="" class="edit">
            <i class="material-icons ">
              edit
            </i>
          </a>
          <a routerLink="delete/{{ row.id }}" class="delete">
            <i class="material-icons ">
              delete
            </i>
          </a>
        </td>
      </ng-container>
      <mat-header-row class="mat-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>

</div>