<div class="content">
    <div class="title">
      <h1>Livros</h1>
    </div>
    <button mat-stroked-button color="primary" class="mat-elevation-z8" >Nova Livro</button>
  
    <div class="table">
      <table mat-table  class="mat-elevation-z8 ">
  
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> titulo </th>
          <td mat-cell *matCellDef="let row"> {{row.titulo}} </td>
        </ng-container>
  
      
        <ng-container matColumnDef="livros">
          <th mat-header-cell *matHeaderCellDef> Ler livro </th>
          
          <td mat-cell *matCellDef="let row">
            <a >
              <i class="material-icons ">
               view
              </i>
            </a>
          </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Ação </th>
          <td mat-cell *matCellDef="let row">
            <a routerLink="update/{{ row.id }}" class="edit">
              <i class="material-icons ">
                edit
              </i>
            </a>
            <a routerLink="delete/{{ row.id }}" class="delete">
              <i class="material-icons ">
                delete
              </i>
            </a>
          </td>
        </ng-container>
        <mat-header-row class="mat-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </div>
  
  </div>