<mat-sidenav-container class="container">

    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item>
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item>
                <i class="material-icons">book</i>
                Livros
            </a>
            <a mat-list-item>
                <i class="material-icons">category</i>
                Categoria
            </a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        asdasdas
    </mat-sidenav-content>
</mat-sidenav-container>